@{
    ViewData["Title"] = "Complete";
}


<h2>Successfuly created product</h2>

<h1>Thank you for using our Store App</h1>

<a asp-controller="Product" asp-action="Index" class="btn btn-success">Check all Products</a>